# Explore Data, Get Viz Columns, Create and Zip Project Data

In [2]:
import pandas as pd

## Load Data

In [23]:
df = pd.read_csv("./original-dataset/stack-overflow-developer-survey-2024/survey_results_public.csv")
df.shape
df.head(5)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Viz Columns

In [ ]:
# all columns
# ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,BuildvsBuy,TechEndorse,Country,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,LanguageAdmired,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,DatabaseAdmired,PlatformHaveWorkedWith,PlatformWantToWorkWith,PlatformAdmired,WebframeHaveWorkedWith,WebframeWantToWorkWith,WebframeAdmired,EmbeddedHaveWorkedWith,EmbeddedWantToWorkWith,EmbeddedAdmired,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,MiscTechAdmired,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,ToolsTechAdmired,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,NEWCollabToolsAdmired,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackAsyncAdmired,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,OfficeStackSyncAdmired,AISearchDevHaveWorkedWith,AISearchDevWantToWorkWith,AISearchDevAdmired,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOHow,SOComm,AISelect,AISent,AIBen,AIAcc,AIComplex,AIToolCurrently Using,AIToolInterested in Using,AIToolNot interested in Using,AINextMuch more integrated,AINextNo change,AINextMore integrated,AINextLess integrated,AINextMuch less integrated,AIThreat,AIEthics,AIChallenges,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Knowledge_9,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Frustration,ProfessionalTech,ProfessionalCloud,ProfessionalQuestion,Industry,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat

columns_for_viz = ["Age", "YearsCodePro", "Country", "Currency", "CompTotal", "ConvertedCompYearly", "LanguageHaveWorkedWith", "NEWCollabToolsHaveWorkedWith", "OpSysProfessional use", "AISelect"]
df = df[selected_columns]
df.head(5)

,Age,YearsCodePro,Country,Currency,CompTotal,ConvertedCompYearly,LanguageHaveWorkedWith,NEWCollabToolsHaveWorkedWith,OpSysProfessional use,AISelect
0,Under 18 years old,NaN,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,Yes
1,35-44 years old,17,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,PyCharm;Visual Studio Code;WebStorm,MacOS,"No, and I don't plan to"
2,45-54 years old,27,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,C#,Visual Studio,Windows,"No, and I don't plan to"
3,18-24 years old,NaN,Canada,NaN,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...,NaN,NaN,Yes
4,18-24 years old,NaN,Norway,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;Lua;Python;Rust,Vim,NaN,"No, and I don't plan to"

## Remove rows with missing data

In [22]:
df_clean = df.dropna(subset=["Age", "YearsCodePro", "Country", "Currency", "CompTotal", "LanguageHaveWorkedWith", "NEWCollabToolsHaveWorkedWith", "OpSysProfessional use", "AISelect"])
print(df_clean.shape)
df.head(5)

(30919, 10)

,Age,YearsCodePro,Country,Currency,CompTotal,ConvertedCompYearly,LanguageHaveWorkedWith,NEWCollabToolsHaveWorkedWith,OpSysProfessional use,AISelect
0,Under 18 years old,NaN,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,Yes
1,35-44 years old,17,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,PyCharm;Visual Studio Code;WebStorm,MacOS,"No, and I don't plan to"
2,45-54 years old,27,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,C#,Visual Studio,Windows,"No, and I don't plan to"
3,18-24 years old,NaN,Canada,NaN,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...,NaN,NaN,Yes
4,18-24 years old,NaN,Norway,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;Lua;Python;Rust,Vim,NaN,"No, and I don't plan to"

# Format and output the data for d3.js

In [25]:
df_clean.to_json('./project-dataset/data.json', orient='records', indent=2)

# Popular Programming  Languages (Bar Chart)
# Popular Developmnet Environments (Maybe Multistacked Bar chart)
# Median years of expperience vs Median salary per language
# Median years of expperience vs Median salary per dev environment

## Martini must go all the way through, only then can they go back to edit


## What is the relationship between programming languages and developer environments?

## I will also assume most people dont use AI and are over the age of 30

### My Hypothesis
Low level language users probably use terminal and are on linux / mac
Higher level language users probably vscode and mac
Windows developers vs Linux/Mac Developers